@font-face {
    font-family: Abel;
    src: url("https://fonts.googleapis.com/css?family=Abel&display=swap");
}

@font-face {
    font-family: Anton;
    src: url("https://fonts.googleapis.com/css?family=Anton&display=swap");
}
